# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\IDEA\IDEA-WorkSpace\Practice\Market_Supervision_srv\Market_Supervision_srv\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
